.comment_container {
    color: var(--text-color-secondary);
    width: 82%;
}

.script_container {
    padding-top: 16px;
}

.script_container div{
    color:  var(--text-color-secondary) !important;
}

.script_container p {
    padding-top: 8px;
    color:  var(--text-color-secondary) !important;
}

.title_communication {
    padding-top: 24px !important;
}

.button_contacts_wrapper_communication {
margin-top: 8px !important;
}