.contacts-stats {
  &__right-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;

    .right-wrapper {
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: end;

      p {
        margin: 0px;
      }
    }
  }
}

.apexcharts-text.apexcharts-xaxis-label {
  fill: var(--blue-secondary);
}
