.header_button {
  width: 37px;
  height: 37px;
  border-radius: 10px;
  background: var(--background-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
}

.nameLength {
  font-size: 14px;
  color: #64748b;

  padding-top: 4px;
  text-align: end;
}

.colorPickerContainer {
  padding-top: 24px;
}

.scriptContainer {
  padding-top: 24px;
}

.scriptLabel {
  padding-bottom: 8px;
}

.buttonsContainer {
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  justify-content: flex-end;

  padding-top: 24px;
}

.buttonsContainer.tablet {
  display: flex;
  flex-direction: column;
}
