.Title{
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 72px;
    font-weight: 800;
    line-height: normal;
    text-align: center;
    @media(max-width:2100px) {
        font-size: 54px;
    }
    @media(max-width:1840px) {
        font-size: 48px;
    }
    @media(max-width: 1720px){
        font-size: 44px;
        margin-top: 0px;
    }
    @media(max-width: 1500px) {
        font-size: 40px;
    }
    @media(max-width: 1250px) {
        font-size: 36px;
    }
    @media(max-width:800px) {
        font-size: 34px;
    }
    @media(max-width:620px) {
        font-size: 28px;
    }
}