.banner-profile {
  position: relative;

  width: 100%;
  border-radius: 20px;
  padding: 150px 30px 150px;
  overflow: hidden;

  & > * {
    position: relative;
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    padding: 90px 20px 90px;
  }

  @media screen and (max-width: 576px) {
    padding: 60px 16px 60px;
  }

  // Bg
  &__bg-wrapper {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#22134E, #170630);
  }

  &__bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    user-select: none;
  }

  @media screen and (max-width: 576px) {
    &__bg-wrapper {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background: linear-gradient(0deg, rgba(0,0,0,0.76) 0%, rgba(0,0,0,0.5) 100%);
      }
    }
    
    &__bg-image {
      object-position: center right;
    } 
  }

  // Text
  &__text {
    max-width: 372px;
  }

  &__title {
    color: #fff;
    font-family: DM Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -2%;
  }

  @media screen and (max-width: 768px) {
    &__text {
      max-width: 350px;
    }

    &__title {
      font-size: 22px;
      line-height: 30px;
    }
  }

  @media screen and (max-width: 576px) {
    &__text {
      max-width: 100%;
    }

    &__title {
      font-size: 20px;
      line-height: 28px;
    }
  }
}