.contact-cloud {
  max-width: 100vw;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__row {
    margin-bottom: 20px;

    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &--column &__row {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  // Content
  &__content {
    flex: 1;

    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
  }
  
  &--column &__content {
    justify-content: center;
  }

  &__info {
    margin-left: 16px;
  }

  &__name,
  &__strategy {
    margin-top: 8px;
  }
  &__status {
    margin-top: 8px;
    
    color: var(--nav-list-disable);
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 500;
  }

  // Buttons
  &__buttons {
    grid-area: buttons;

    margin-bottom: -12px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      margin-right: 12px;
      margin-bottom: 12px;
      margin-left: 0 !important;
    }
  }
  
  &--column &__buttons {
    justify-content: center;
  }
  .contact-cloud__avatar{
    border-radius: 100px;
    position: relative;
  }
}